body {
    background: url(../../background.png) no-repeat;
    background-size: 1366px 1366px;
    font-family: "SFCompactRounded Regular";
    font-weight: bolder;
}

* {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

h1,
h2,
p,
a,
h2,
span,
button,
div,
ul,
li {
    font-family: "SFCompactRounded-Regular";
}

h1 {
    font-size: 2.5em;
}

.modal-reset {
    box-shadow: 0 0 rem rgba(0,0,0,.15);
    background: white;
    position: fixed;
    top: 25%;
    width: 40%;
    left: 30%;
    border-radius: 16px;
    padding: 1%;
    border: solid #596067 1px;
    display: none;
}

.btnreset {
    background: #0D6EFD;
    border: solid black 0px;
    border-radius: 4px;
    font-size: 1.2em;
    width: 20%;
    margin-bottom: 2%;
    padding: 1%;
}

.btnresettwo {
    background: lightgray;
}

.now-day-weather h2 {
    background: rgba(77, 114, 77, 0.781);
    width: 40%;
    height: 45%;
    padding: 2%;
    border-radius: 8px;
    float: left;
    margin-left: 3.5%;
    margin-top: 2%;
}

.now-day-weather {
    background: rgba(255, 255, 255, 0.70);
    border-radius: 8px;
    width: 60%;
    height: auto;
    display: inline-block;
}

.welcome {
    background: wheat;
    width: 50%;
    height: 50%;
    border-radius: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: 25% 25% 25% 25%;
    box-shadow: 100px 100px 100px 1000px rgba(0, 0, 0, 0.959);
    display: none;
}

.card h2 {
    width: 40%;
    height: 45%;
    padding: 2%;
    border-radius: 8px;
    background: rgba(77, 114, 77, 0.781);
    height: 45%;
    padding: 2%;
    float: left;
    margin-left: 3.5%;
    margin-top: 2%;
}

p {
    font-size: 1.2em;
}

.main {
    display: none;
    height: 500px;
    overflow-y: scroll;
    border-radius: 8px;
}

.div {
    background: rgba(255, 255, 255, 0.70);
    border-radius: 8px;
    padding: 1%;
    margin-bottom: 2%;
    width: 60%;
    height: auto;
    display: inline-block;
}

#history {
    width: 50%;
    height: 100px;
    background: gray;
    overflow-y: scroll;
    margin-top: -4%;
}

.weather-now-img {
    width: 50px;
    height: 50px;
}

.scroller {
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
}

.item {
    min-width: 100%;
    scroll-snap-align: center;
    padding: 0;
    margin-left: 2%;
}

.bottom-bar {
    position: fixed;
    padding: 2%;
    background: #74A08F;
    width: 100%;
    bottom: 0;
    margin-left: -3%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

[class^=btn-] {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 210px;
    height: 60px;
    text-transform: uppercase;
    border: 1px solid currentColor;
}

.btn-6:active {
    background-color: #0da746;
}

.w3-button {
    padding: 1%;
    font-size: 1em;
    width: 30%;
    border-radius: 8px;
    border: 0px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    body {
        background-size: 600px 1000px;
    }

    .div {
        background: rgba(255, 255, 255, 0.68);
        border-radius: 8px;
        padding: 1%;
        margin-bottom: 3%;
        width: 90%;
        height: auto;
        display: inline-block;
    }

    .now-day-weather h2 {
        width: 70%;
    }
}

/*  FONT IMPORT   */
@font-face {
    font-family: "SFCompactRounded-Regular";
    src: url("../../fonts/SFCompactRounded-Regular.woff") format("truetype");
    font-style: normal;
    font-weight: normal;
}