body {
    background: url(../../background.png) no-repeat;
    background-size: 1366px 1366px;
    font-family: "SFCompactRounded Regular";
    font-weight: bolder;
}

h1,
h2,
p,
a,
h2,
span,
button,
div,
ul,
li {
    font-family: "SFCompactRounded-Regular";
}

h1 {
    font-size: 2.5em;
}

.now-day-weather h2 {
    background: green;
    width: 35%;
    padding: 1%;
    border-radius: 8px;
}

.card h2 {
    background: green;
    width: 100%;
    padding: 2%;
    border-radius: 8px;
}

p {
    font-size: 1.2em;
}

.main {
    display: none;
    height: 500px;
    overflow-y: scroll;
    border-radius: 8px;
}

div {
    background: rgba(255, 255, 255, 0.70);
    border-radius: 8px;
    padding: 1%;
    margin-bottom: 3%;
    width: 60%;
    height: auto;
    display: inline-block;
}

.weather-now-img {
    width: 50px;
    height: 50px;
}

/* CSS */
.button-77 {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01, sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
}

@media (min-width: 768px) {
    .button-77 {
        padding: 19px 32px;
    }
}

.button-77:before,
.button-77:after {
    border-radius: 80px;
}

.button-77:before {
    background-color: rgba(249, 58, 19, .32);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.button-77:after {
    background-color: initial;
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}

.button-77:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
    color: #ccc;
}

.button-77:active:not(:disabled):after {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
}

.button-77:disabled {
    cursor: default;
    opacity: .24;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    body {
        background-size: 600px 1000px;
    }

    div {
        background: rgba(255, 255, 255, 0.68);
        border-radius: 8px;
        padding: 1%;
        margin-bottom: 3%;
        width: 90%;
        height: auto;
        display: inline-block;
    }
    
    .now-day-weather h2 {
        width: 70%;
    }
}

/*  FONT IMPORT   */
@font-face {
    font-family: "SFCompactRounded-Regular";
    src: url("../../fonts/SFCompactRounded-Regular.woff") format("truetype");
    font-style: normal;
    font-weight: normal;
}